# ==========================================================================
# WordPress
# ==========================================================================

# WordPress Core
/wp-admin/
/wp-includes/

# WordPress root files
/index.php
/wp-*.php
/xmlrpc.php
/license.txt
/readme.html

# Configuration
/wp-config.php

# Uploads
/wp-content/uploads/

# ==========================================================================
# Development
# ==========================================================================

/node_modules/

# Generated assets
# À conserver dans Git pour le moment
# /wp-content/themes/maine_decouvertes/assets/

# macOS
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride

# ==========================================================================
# Environment
# ==========================================================================

.env
.env.*
!.env.example

# ==========================================================================
# IDE
# ==========================================================================

.vscode/
.idea/

# ==========================================================================
# Logs
# ==========================================================================

*.log